name: Discord Commit Action

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  send_embed:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Generate Commit List
        id: commits
        if: github.event_name == 'push'
        run: |
          echo "COMMIT_LIST<<EOF" >> $GITHUB_ENV
          
          jq -r '
            .commits[] | 
            (
              "[`" + (.id | .[0:7]) + "`](" + .url + ") " + (.message | split("\n")[0]) + " - [**" + .author.name + "**](https://github.com/" + .author.username + ")\n" +
              
              (if (.added | length) > 0 then "**Added:** " + (.added | join(", ")) + "\n" else "" end) +
              
              (if (.modified | length) > 0 then "**Modified:** " + (.modified | join(", ")) + "\n" else "" end) +
              
              (if (.removed | length) > 0 then "**Removed:** " + (.removed | join(", ")) + "\n" else "" end) +
              
              "\n" 
            )
          ' "$GITHUB_EVENT_PATH" >> $GITHUB_ENV
          
          echo "EOF" >> $GITHUB_ENV

      - uses: sarisia/actions-status-discord@v1.15.5
        with:
          webhook: ${{ secrets.WEBHOOK_URL }}
          url: "https://github.com/CodeBotsStudio/Dysymmetrical"
          title: "Dysymmetrical Activity Notification"
          
          description: |
            **Commit List**
            ${{ env.COMMIT_LIST }}

            **Branch**
            ${{ github.ref_name }}
            
          color: 0x999999
          nodetail: true