name: Discord Commit Action

on:
  push:
    branches:
      - main
  pull_request:


jobs:

  send_embed:

    runs-on: ubuntu-latest
    steps:
      - uses: sarisia/actions-status-discord@v1.15.5
        with:
          webhook: ${{ secrets.WEBHOOK_URL }}

          url: "https://github.com/CodeBotsStudio/Dysymmetrical"

          title: "Dysymmetrical Activity Notification"
          color: 0x999999

          noprefix: true
